<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.norv.remote">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />

    <application
        android:name=".NoRVApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
<!--        <activity-->
<!--            android:name=".NoRVLoading"-->
<!--            android:label="@string/norv_loading_title"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:windowSoftInputMode="adjustResize">-->
<!--        </activity>-->
        <activity
            android:name=".NoRVConnect"
            android:label="@string/norv_connect_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NoRVInternet"
            android:label="@string/norv_internet_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NoRVActivity"
            android:label="@string/norv_activity_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoRVConfirm"
            android:label="@string/norv_confirm_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NoRVPause"
            android:label="@string/norv_pause_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NoRVEnd"
            android:label="@string/norv_end_title"
            android:screenOrientation="landscape" />

        <service
            android:name=".NoRVRTMP"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>